[mongodb]
host: localhost
port: 27017

[ldap]
host: ldap://ldap.domain.com
bind_dn: uid=bind,ou=user,dc=domain,dc=com
password: 12345
search_filter: (&(objectClass=Person)
base_dn: ou=user,dc=domain,dc=com